.field{
    float: left;
    width: auto;
    height: auto;
    margin-right: 80px;
    padding: 5px;
    border-radius: 10px;
}

p{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Segoe UI'
}

.headerText{
    padding-top: 7px;
    font-weight: bold;
    font-size: larger;
}

.description{
    float: left;
    margin-right: 7px;
}

.value{
    float: left;
    margin-right: 4px;
}

.unit{
    float: left;
}